## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.loe

## Intermediate documents:
*.dvi
*-converted-to.*

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml
*.latexmain

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.tdo

##swap files
*.swp

##other help files
*.idx
*.ilg
*.ind
*.lec
*.cnt

## pdf files
2021_Topology_I.pdf
master.pdf

## Gnuplot directories
master.gnuplots/
full.gnuplots/
